*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081f31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choice:hover{
    cursor: pointer;
    background-color: #081f31;

}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
   
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    font-size: 2rem;
    gap: 5rem;
}
#user-score,
#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 4rem;
}
#msg{
    font-size: 2rem;
    background-color: #081f31;
    color: white;
    display: flex;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
